<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>503591921647-637gaonjep38ralvuvutv95omedldgpi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.503591921647-637gaonjep38ralvuvutv95omedldgpi</string>
	<key>API_KEY</key>
	<string>AIzaSyA_MlXaqWaeV0QaKprrruRjOPJghi8QhX8</string>
	<key>GCM_SENDER_ID</key>
	<string>503591921647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jamApp</string>
	<key>PROJECT_ID</key>
	<string>jamapp-2d2b8</string>
	<key>STORAGE_BUCKET</key>
	<string>jamapp-2d2b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:503591921647:ios:1f3d77a5a0ce56171ab81a</string>
</dict>
</plist>